<div class="modal-positioning">
        
  <section class="modal-section-between m-4">
    <div class="modal-img-container modal-section-layout">
     <div class="name">Nombre del pokemon</div>
     <div class="img-modal">Display not Found</div>
    </div>
  </section>
  <section  class="modal-section-between m-6 modal-section-layout">
     <div class="modal-detail-container modal-section-layout">
         <section class="name">Detalles del pokemon</section>
                 <table>
                <tr> 
                   <td >Especie </td> 
                   <td >Peso </td> 
                 </tr>
                 <tr> 
                     <td >Piakchu </td> 
                     <td >10kg</td> 
                   </tr>
                 <tr> 
                   <td >Habilidades</td>
                   <td >Stats</td>
                 </tr>
                 <tr> 
                     <td >Impact Trueno, Golpe relampago</td>
                     <td ></td>
                   </tr>
                 <tr> 
                     <td >Experiencia</td>
                     <td >Base</td>
                   </tr>
                   <tr> 
                     <td >100 pts</td>
                     <td >10000 pts</td>
                   </tr>
                   <tr> 
                     <td >Formas</td>
                   </tr>
                   <tr> 
                     <td >Levl3</td>
                   </tr>
               </table>
         
  
     </div>
  </section> 
  
  
  

</div>

