/* 
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40rem;
}
  
  td, th {
    border: 1.5px solid #282828;
    text-align: center;
    padding: 8px;
  }

  th{
    background-color: #E8F6FF;
  }

  td{
    cursor: pointer;
  }
   */


   table {
    width: 40rem;
  }

  .m4 {
    width: 40%!important;
  }
  

  .m6{
    width: 60%!important;
  }

  td:nth-child(even) {
    cursor: pointer;
}
