<!-- html del cual sera el contenido dinamico de las apis -->
    <table>
        <tr> 
          <th >Pokemon</th>
          <th >Detalles del Pokemon</th>
        </tr>
        <tr> 
          <td >Alfreds Futterkiste</td> 
          <td (click)="activeDetail(1)">ver detalle</td> 
        </tr>
        <tr> 
          <td >Centro comercial Moctezuma</td>
          <td (click)="activeDetail(2)" >ver detalle</td>
        </tr>
        <tr> 
            <td >Centro comercial Moctezuma</td>
            <td (click)="activeDetail(3)">ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td (click)="activeDetail(4)" >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td (click)="activeDetail(5)" >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
      </table>


      <!-- maximo son 8 registros -->