<!-- html del cual sera el contenido dinamico de las apis -->
    <table>
        <tr> 
          <th >Pokemon</th>
          <th >Detalles del Pokemon</th>
        </tr>
        <tr> 
          <td >Alfreds Futterkiste</td> 
          <td>ver detalle</td> 
        </tr>
        <tr> 
          <td >Centro comercial Moctezuma</td>
          <td (click)="activeDetail()" >ver detalle</td>
        </tr>
        <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
          <tr> 
            <td >Centro comercial Moctezuma</td>
            <td >ver detalle</td>
          </tr>
      </table>


      <!-- maximo son 8 registros -->